          body
                font-family: 'Avalon', sans-serif;
                
                background-color: #FAFAFA;
                
           }            
            .caption-1 {
                font-family: 'Gibson', sans-serif;
                
                font-size: 45px;
                margin-top: ;
                text-align: center;
                color: #ffffff;
            }
            .caption-2 {
                font-family: 'Avalon', sans-serif;
                
                font-size: 30px;
                margin-top: 0px;
                text-align: center;
                color: #ffffff;
            }
            .top-navigation,
             .navigation {
                font-family: 'Avalon', sans-serif;
                
            }
            .post-header {
                font-family: 'Arquitecta', sans-serif;
                
            }
            .post-title,
             .typography h1, 
              .typography h2, 
               .typography h3, 
                .typography h4, 
                 .typography h5, 
                  .typography h6,
                   .link-title {
                font-family: 'Gibson', sans-serif;
                
            }
            .ft-label {
                font-family: 'Gibson', sans-serif;
                width:260px;
                
            }
            
            .blog-name {
                font-family: 'Arquitecta', sans-serif;
                font-weight: bold;
                color: #1d2a47;
            }

            .top-message > div {
                font-size: 15px;
                padding: 15px 30px;
            }
            @media all and (max-width: 648px) {
                .top-message > div {
                    font-size: 15px;
                    padding: 15px 30px;
                }
            }

            /* ACCENT COLOR*/
            a, .typography a,
             .button:hover,
              .more_notes_link:hover,
               .blog-name > a:hover,
                .post-header-s1 > .post-icon > span,
                 .menu > a:hover,
                  .menu-btn:hover,
                   .navigation > li > a:hover,
                    .read_more,
                     .page-info > span > span,
                      .page-info > div > span,
                       .link-target,
                        .tags-s2 > a:hover,
                         .post-options > div:hover,
                          .tweets > .content > a,
                           .top-navigation > li > a:hover,
                            .top-navigation > li > span:hover,
                             .top-navigation-sl > li > a:hover {
                color: #f22e58;
            }
            .button, .more_notes_link,
             .post-header,
              .navigation > li > a:before,
               .chat-content > .odd:after,
                .slider-nav.circle > li.active:after,
                 .slider-nav.circle > li:hover:after {
                background-color: #f22e58;
            }
            .button, .more_notes_link,
             .post-header-s1 > .post-icon,
              .post-header-s2 > .post-icon,
               .navigation,
                .categories > a > onsubmit >li{
                border-color: #f22e58;
            }
            
            /*TOP MENU BACK AND TEXT COLOR*/
            .top-menu,
             .top-navigation,
              .top-navigation-sl,
               .top-navigation-sl > li:last-child:after {
                background-color: #272727;
            }
            .full-width .top-menu {
                background: none;
            }
            .full-width .top-menu.show-background,
             .full-width .top-menu:hover,
              .full-width .top-menu.showed {
                background-color: rgba(39,39,39,0.9);
            }
            .full-width .top-navigation {
                background-color: rgba(39,39,39,0.9);   
            }
            .full-width .top-navigation-sl,
             .full-width .top-navigation-sl > li:last-child:after {
                background: none;
            }
            .blog-name > a,
             .menu-btn,
              .top-navigation > li > a,
               .top-navigation > li > span,
                .top-navigation-sl > li > a{
                color: #f7f7f7;
            }
            .top-menu,
             .top-navigation,
              .top-navigation-sl,
               .top-navigation > li,
                .top-navigation-sl > li,
                 .top-navigation-sl > li:after,
                  .menu-btn {
                border-color: #666666;
            }
            .full-width .menu-btn:after {
                border-bottom-color: #666666;
            }
            .top-navigation-sl > li:before {
                background-color: #666666;
             }
            
            /*TOP MESSAGE BACK AND TEXT COLOR*/
            .page-info > div {
                background-color: #ffffff;
                color: #434343;
            }

            /*FIRST POST BACK AND TEXT COLOR*/
            .first-post {
                background-color: #272727;
                color: #f7f7f7;
            }
            .menu > a,
             .navigation > li > a {
                color: #f7f7f7;
             }
             
            /*POST BACK AND TEXT COLOR*/
            .post,
             .disqus,
              .post-wrapper > .replies > span {
                background-color: #fff;
            }
            .post-header-s4 > .post-icon {
                color: #fff;
            }
            .post,
             .disqus,
              .tags-s2 > a,
               .tags-s3 > a {
                 color: #434343;
            }
            .post-header-s4 > .post-icon > span {
                 background-color: #434343;
            }
            .post-title,
             .post-title > a {
                  color: #434343;
            }
             
            /*POST TAGS COLORS*/
            .tags-s1 > a,
             .tags-s2 > a,
              .tags-s3 > a {
                color: #848484;
            }
            .tags-s1 > a {
                background-color: #f2f2f2;
                border-color: #f2f2f2;
            }
            .tags-s1 > a:hover {
                background-color: #848484;
                border-color: #848484;
                color: #f2f2f2;
            }

            /*FOOTER BACK AND TEXT COLOR*/
            footer {
                background-color: #111111;
                color: #eee;
            }
            .categories > a {
                color: #eee;
            }
            .ft-label,
             .tweet-text {
                border-color: #676767;
            }
            /*FOOTER LINK COLOR*/
            footer .typography a {
                color: #a77dc2;
            }
            /*FOOTER BUTTONS BACKGROUND COLOR*/
            .categories > a,
             .social-links > a,
              .br-next,
               .br-previous {
                background-color: #f22e58;
            }
            /*FOOTER BUTTONS TEXT COLOR*/
            .categories > a,
             .social-links > a,
              .br-next,
               .br-previous {
                color: #eee;
            }
            /*FOOTER TWEETS LINKS COLOR*/
            .tweet-text a {
                color: #A77DC2;
            }
            /*COPYRIGHT BACK AND TEXT COLOR*/
            .copyright {
                background-color: #111111;
            }
            .copyright,
             .copyright a {
                color: #f7f7f7;
            }
            .slider-overlay {
                background-color: #D95E40;
                opacity: 0.2;
            }
            .border-text-1 > span,
             .border-text-2 > span {
                border-color: #ffffff;     
            }
            
            @media all and (max-width: 648px) {
                .caption-1 {
                    font-size: 28px;
                }
                .caption-2 {
                    font-size: 18px;
                }
            }

            /*FIX1*/
            .large.permalink-post {
                width: 100% !important;
            }
            /*FIX2*/
            .top-menu-wrap {
                z-index: 32;
            }
            .edit-box{
                margin-right:2px;
                float:right;
            }
            .ticket-box{
                margin-right:2px;
                float:right;
                vertical-align:middle;
            }
            .pagetop
                {
                position: fixed;
                bottom: 16px;
                right: 16px;
            }
            .pagetop a
                {
                  display: none;
                  background: #f22e58;
                  vertical-align: middle;
                    -webkit-transition: 0.3s;
                    -moz-transition: 0.3s;
                    -o-transition: 0.3s;
                    -ms-transition: 0.3s;
            }
            .pagetop a:hover{
            background: #668ad8;
            }  
            .awesome{
        	font-family: FontAwesome; 
            }

